.charts {
    display: flex;
    flex-direction: row;
    // display: grid;
    // grid-template-columns: 45%;
    //grid-template-rows: 1000px;
}

.chart {
    width: 700px;
    margin: 2%;
}

p {
    text-align-last: center;
    font-size: 30px;
}