<div class="page" [ngClass]="{'soloChart': chart!=0}">
    <div id="charts" class="charts">
        <div *ngIf="chart==3 || chart==0" class="chart" [ngClass]="{'chart-temp': chart==3}" (click)="goTo(3)">
            <p>
                <mat-icon>cloud_queue</mat-icon> Gaz</p>
            <app-gaz></app-gaz>
        </div>


        <div *ngIf="chart==2 || chart==0" class="chart" [ngClass]="{'chart-temp': chart==2}" (click)="goTo(2)">
            <p>
                <mat-icon>invert_colors</mat-icon> Umiditate</p>
            <app-umiditate></app-umiditate>
        </div>


        <div *ngIf="chart==1 || chart==0" class="chart" [ngClass]="{'chart-temp': chart==1}" (click)="goTo(1)">
            <p>
                <mat-icon>wb_sunny</mat-icon> Temperatura</p>
            <app-temperatura></app-temperatura>
        </div>

    </div>
</div>
